<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
 
    <connectionStrings>
        <add name="Stock_Control.Properties.Settings.connection" connectionString="Server = DESKTOP-LIDLBBO\SQLEXPRESS; Database=StockControl;User Id = sa; Password=12345678;MultipleActiveResultSets=True;" />
    </connectionStrings>
</configuration>